<a href="https://colab.research.google.com/github/samp-suman/Pandas/blob/master/Pandas_Assingment_3(9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
data=pd.read_csv("matches.csv")
# For data miss spelled changed by replace function
data.replace('Rising Pune Supergiant','Rising Pune Supergiants',inplace=True)
#collect the drop data only the last value of each season
d1=data.sort_values("date",ascending=False).drop_duplicates(subset='season')

In [0]:
# for counting no. of matches played by each team
team=d1['team1']
team=team.append(d1['team2'])
team.value_counts().head(3)

Chennai Super Kings            6
Mumbai Indians                 4
Royal Challengers Bangalore    3
dtype: int64