<a href="https://colab.research.google.com/github/samp-suman/Pandas/blob/master/Pandas_Asingment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data=pd.read_csv("matches.csv")
data.head(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [0]:
#Assingment-1-Q1:
#First data masking on city==mumbai the values count on the series 'player of the match' with head(3) for only top three

data[data['city']=='Mumbai']['player_of_match'].value_counts().head(3)

KA Pollard    6
RG Sharma     6
SK Raina      3
Name: player_of_match, dtype: int64

In [0]:
#Assingment-1-Q2:
# Here again masking and values count in return of the function with head(3) for only top three
def top3_of_season(season):
    return data[data['season']==season]['winner'].value_counts().head(3)

In [0]:
top3_of_season(2013)

Mumbai Indians         13
Chennai Super Kings    12
Rajasthan Royals       11
Name: winner, dtype: int64