<a href="https://colab.research.google.com/github/samp-suman/Pandas/blob/master/Pandas_assingment_4(10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
delivery=pd.read_csv('deliveries.csv')
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [0]:
# if taking last five overs are 15-20
# Q1---
m1=delivery['batsman_runs']==6
m2=delivery['over']>=15
delivery[m2&m1].groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
MS Dhoni          132
KA Pollard        108
AB de Villiers     97
RG Sharma          92
Yuvraj Singh       79
Name: batsman_runs, dtype: int64

In [0]:
##
# Q2----

mask=delivery['batsman']=='V Kohli'
delivery[mask].groupby('bowler')['batsman_runs'].sum().sort_values(ascending=False).head()

bowler
A Mishra     149
UT Yadav     141
DJ Bravo     130
R Ashwin     127
RA Jadeja    104
Name: batsman_runs, dtype: int64

In [0]:
## Function to know above type analysis for any batsman

def batsman_against_bowlers(batsman):
    mask=delivery['batsman']==batsman
    return delivery[mask].groupby('bowler')['batsman_runs'].sum().sort_values(ascending=False).head()
batsman_against_bowlers('MS Dhoni')

bowler
DW Steyn      103
KA Pollard    100
PP Ojha        98
B Kumar        81
IK Pathan      80
Name: batsman_runs, dtype: int64